[Unit]
Description="{{ cli_name }}-ragapp-default-worker %I"
PartOf={{ cli_name }}-workers.target

[Service]
User={{ user }}
Group={{ user }}
Restart=always
ExecStart={{ cli_cmd }} worker --queue default
StandardOutput=file:{{ cli_dir }}/logs/worker.log
StandardError=file:{{ cli_dir }}/logs/worker.error.log
WorkingDirectory={{ cli_dir }}
